body {
    font-family: "Microsoft Yahei", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #fff;
}

p {
    font-size: 18px;
}

h1,
h2 {
    font-weight: normal;
}

h2 {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

code {
    font-size: 16px;
}

.href {
    text-decoration: none;
    color: #0079d1;
}

.primary {
    color: #0079d1;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 20px 30px;
}

.sidebar-container {
    position: relative;
    vertical-align: top;
    display: inline-block;
}

.sidebar-container .sidebar {
    position: fixed;
    width: 200px;
    list-style: none;
    margin-top: 50px;
    padding-left: 60px;
}

.sidebar-container .sidebar .item {
    text-decoration: none;
    color:  #0079d1;
    margin: 10px 0;
    font-size: 16px;
}

.main-content {
    display: inline-block;
    width: 850px;
}

.header {
    font-size: 0;
}

.header .title {
    font-size: 36px;
    display: inline-block;
    margin: 0;
    padding-right: 12px;
    border-right: 1px solid #ddd;
}

.header .github {
    display: inline-block;
    vertical-align: -3px;
    width: 40px;
    height: 40px;
    margin-left: 12px;
    background: url('img/github.svg');
    background-size: cover;
    cursor: pointer;
}

.show-container {
    margin: 15px 0 30px 0;
    position: relative;
    font-size: 0;
}

.show-container .btn{
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    font-size: 18px;
    color: #0079d1;
    padding: 6px 16px;
    border: 1px solid #0079d1;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.show-container .btn.finish {
    top: 50px;
    color: #FFF;
    background: #FF4545;
    border: 1px solid #FF4545;
}

.show-container .btn.finish:hover {
    color: #FFF;
    background: #E03333;
    border: 1px solid #FF4545;
}

.show-container .btn.disable {
    background: #eee;
    border: 1px solid #DCDCDC;
    color: #B7B7B7;
    pointer-events: none;
}

.show-container .btn:hover {
    background: #138EE8;
    color: #fff;
}

.show-container .btn.disable:hover {
    background: #eee;
    border: 1px solid #DCDCDC;
    color: #B7B7B7;
    pointer-events: none;
}

.show-container .content .test-block {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: #78F6B8;
}