html,
body
{
    height: 100%;
    margin: 0;
}
.container
{
    display: flex;

    height: 100%;

    align-items: center;
    justify-content: center;
}

.loading-wrapper
{
    position: relative;

    display: inline-block;

    width: 100px;
    height: 100px;
}
.loading-wrapper .border
{
    box-sizing: border-box;
    width: 100px;
    height: 100px;

    animation: 1s border-roll linear infinite;

    border: 2px solid #cf12ff;
    border-left: 2px solid transparent;
    border-radius: 50px;
}

.loading-wrapper .circle
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 50px;
    height: 50px;
    margin: auto;


	background: -webkit-linear-gradient(left, #cf12ff, #cf12ff 50%, #ff93ea 50%, #ff93ea 100%);
    border-radius: 25px;
}

.loading-wrapper .circle .half-circle-1,
.loading-wrapper .circle .half-circle-2
{
    position: absolute;

    width: 25px;
    height: 50px;

    transform-origin: 100% 50% 0;

    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.loading-wrapper .circle .half-circle-1
{
    animation: 2s circle-roll-1 linear infinite;

    background: #ff93ea;
}

.loading-wrapper .circle .half-circle-2
{
    animation: 2s circle-roll-2 linear infinite;
    animation-delay: 0.5s;

    background: #cf12ff;
}

@keyframes border-roll
{
    0%
    {
        transform: rotate(0);
    }
    100%
    {
        transform: rotate(-360deg);
    }
}

@keyframes circle-roll-1
{
    0%
    {
        z-index: 1;

        transform: rotate(0);
    }
    25%
    {
        z-index: 1;

        transform: rotate(-180deg);
    }
    25.001%
    {
        z-index: 0;

        transform: rotate(-180deg);
    }
    50%
    {
        z-index: 0;

        transform: rotate(-180deg);
    }
    75%
    {
        z-index: 0;

        transform: rotate(-360deg);
    }
    75.001%
    {
        z-index: 1;

        transform: rotate(-360deg);
    }
    100%
    {
        z-index: 1;

        transform: rotate(-360deg);
    }
}

@keyframes circle-roll-2
{
    0%
    {
        transform: rotate(0deg);
    }
    25%
    {
        transform: rotate(-180deg);
    }
    50%
    {
        transform: rotate(-180deg);
    }
    75%
    {
        transform: rotate(-360deg);
    }
    100%
    {
        transform: rotate(-360deg);
    }
}
