.view {
    position: relative;
    width: 100%;
    height: 500px;
    perspective: 1200px;
}

.container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 400px;
    height: 300px;
    margin: auto;
    transition: .5s;
    transform-style: preserve-3d;
}

img {
    position: absolute;
    width: 400px;
    opacity: .8;
    cursor: pointer;
}

.img1 {
    transform: rotateY(120deg) translateZ(400px);
}

.img2 {
    transform: rotateY(240deg) translateZ(400px);
}

.img3 {
    transform: rotateY(360deg) translateZ(400px);
}
