body {
    font-family: PingFang SC, STHeitiSC-Light, Helvetica-Light, arial, sans-serifmargink;
}

.color-picker-container {
    margin-top: 50px;
    display: inline-block;
    font-size: 0;
}

.color-panel-wrapper {
    position: relative;
    display: inline-block;
    float: left;
    width: 400px;
    height: 400px;
}

.color-panel-wrapper .panel-btn {
    position: absolute;
    top: 0;
    left: 400px;
    margin-left: -12px;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #C2C2C2;
    cursor: pointer;
}

.pick-bar-wrapper {
    position: relative;
    display: inline-block;
    float: left;
    width: 8px;
    height: 400px;
    margin-left: 23px;
}

.pick-bar-wrapper .bar {
    height: 100%;
    background: linear-gradient(to bottom,hsl(0,100%,50%),hsl(60,100%,50%),hsl(120,100%,50%),hsl(180,100%,50%),hsl(240,100%,50%),hsl(300,100%,50%),hsl(360,100%,50%));
    border-radius: 20px;
}

.pick-bar-wrapper .bar-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -8px;
    margin-top: -12px;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #C2C2C2;
    cursor: pointer;
}

.number-wrapper {
    display: inline-block;
    float: left;
    height: 400px;
    margin-left: 20px;
}

.rgb-wrapper,
.hsl-wrapper {
    height: 50%;
    box-sizing: border-box;
}

.rgb-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 10px;
}

.hsl-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-top: 1px solid #DEDEDE;
    padding-top: 10px;
}

.selector-wrapper {
    position: relative;
    height: 55px;
    font-size: 16px;
}

.selector-wrapper .selector {
    position: relative;
    width: 155px;
    height: 100%;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 40px;
    font-size: 16px;
    box-sizing: border-box;
    border: 2px solid #DEDEDE;
    border-radius: 3px;
    outline: none;
}

.selector-wrapper .selector-btn {
    width: 40px;
    height: 50%;
    font-size: 14px;
    border-left: 2px solid #DEDEDE;
    cursor: pointer;
}

.selector-wrapper .selector-btn.down {
    position: absolute;
    bottom: 0;
    right: 0;
}

.selector-wrapper .selector-btn.up {
    position: absolute;
    top: 0;
    right: 0;
}

.selector-wrapper .selector-btn:hover {
    background: #EBEBEB;
}

.selector-wrapper .selector-btn:active {
    background: #DEDEDE;
}

.selector-wrapper .selector-btn .fa {
    position: absolute;
    top: 5px;
    left: 16px;
}

.selector-wrapper .selectoer-btn .fa {
    position: absolute;
    top: 5px;
    left: 16px;
}

.picked-color-wrapper {
    display: inline-block;
    float: left;
    height: 400px;
    width: 200px;
    margin-left: 20px;
}

.picked-color-wrapper .picked-color {
    height: 180px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.picked-color-wrapper .value-wrapper {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.picked-color-wrapper .value-wrapper .value-content {
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    margin: 10px;
    text-align: left;
}

.picked-color-wrapper .value-wrapper .value-content .copy-btn {
    float: right;
    display: inline-block;
    width: 55px;
    height: 32px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #6569FF;
    cursor: pointer;
    border-radius: 3px;
}